@import "./vendor/reset.scss";
@import "./regions/home.scss";
@import "./regions/signup.scss";
@import "./regions/createband.scss";
@import "./regions/profile.scss";
@import './regions/search.scss';

body{
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
}


//Navbar styles
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  border: 2px red solid;
  width: 100%;
  color: black;

  &__links > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__links,
  &__logo,
  &__profile{
    width: 100%;
  }

}

/*
===================================
    MEDIA QUERIES
===================================
*/

@media (max-width: 1200px) {



}

@media (max-width: 960px) {



}

@media (max-width: 760px) {


}

@media (max-width: 480px) {


}
