h1{
  color: black;
  font-size: 100px;
  text-align: center;
  color: #4d5e6d;
  text-shadow: 1px 1px 1px black!important; 
}

body{
  margin: 0;
}
main{
  display: flex;
  flex-direction: column;
  background-color: #c5c3d2;
}

#splash{
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  border: 2px #4d5e6d solid;
  width: 100%;
  color: black;
}

#links > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#searchbar > input{
  height: 50px;
  width: 500px;
  line-height: 50px;
  font-size: 40px;
}

#links,
#logo,
#profile{
  width: 100%;
}

#lheader{
  text-align: center;
}

.flitem{
  display: flex;
  width: 300px;
  padding: 25px;
  margin: 25px;
  border: solid 2px #4d5e6d;
  background-color: #ffffff;
}

.flimg{
  border-radius: 100px;
  width: 100px;
}

.stars{
  width: 100px;
  height: 50px;
}

.imgdiv{
  display:flex;
  flex-direction: column;
}

.fltext{
  text-align: center;
}

#flitems{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}

li, h2, h3, p {
  color: #80b5bd;
  text-shadow: 1px 1px 1px black!important;

}

input {
  background-color: #c5c3d2; 
}
