.createGroup{
height: 100%;
  &__header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 20px;
    margin-top: 0px;
  }

  &__header > h1{
    margin-bottom: 10px;
  }

  &__body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100%;
    margin-bottom: 20px;

    &__left{
      width: 40vw;
      margin-left: 120px;
      background-color: #018BE4;
      box-shadow: -1px 1px 5px 0.5px black;

      &__header{
        color: white;
        font-size: 70px;
        margin: 20px;
        text-align: center;
      }

      &__img{
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
      }

      &__name{
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px;

          &__field{
            width: 100%;
            height: 50px;
            font-size: 40px;
            line-height: 50px;
          }

        }

      &__members{
        margin-left: 10%;

        &__item{
          color: white;
          display: flex;
          flex-direction: row;
          align-items: center;

          &__field{
            width: 300px;
            height: 30px;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 10px;
          }

          &__remove{
            width: 45px;
          }

          &__adddiv{
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;

              &__add{
                width:50px
              }
          }
        }

        &__item >li {
          width: 320px;
        }


      }

    }

    &__right{
      margin-right: 100px;
      width: 35vw;
      background-color: #018BE4;
      box-shadow: -1px 1px 5px 0.5px black;

      &__content{
        margin-left: 10%;
        margin-right: 10%;

        &__header{
          color: white;
          font-size: 70px;
          margin: 20px;
          text-align: center;
        }

        &__address{
          width: 100%;
        }

        &__address > input{
          width: 100%;
          height: 40px;
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 10px;
        }

        &__phone > input{
          width: 100%;
          height: 40px;
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 10px;
        }

        &__description {
          width: 100%;
        }

        &__description > textarea{
          width: 100%;
          height: 300px;
          resize: none;
          font-size: 30px;
        }
      }

    }
  }

}
