.uSignup{
  display: flex;
  flex-direction: row;
  text-align: center;

  &__top{
    height: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
  }

  &__left{
    width: 100%;
    margin-left: 20vw;

    &__input{
      width: 15vw;
      height: 20px;
      margin: 2px;
    }

  }

  &__right{
    width: 100%;
    margin-right: 20vw;
  }
}



#switch{
  display: flex;
  justify-content: center;
  align-items: center;
}
