.innerCircle {
  stroke: #F3D55B;
  stroke-width: 2px;
  stroke-opacity: 100;
}

.innerCircle {
  fill: white;
  fill-opacity: 0;
  transform-origin: 50% 50%;
  animation-duration: .5s;
  animation-name: pulse;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    stroke-width: 3px;
    stroke-opacity: 1;
    transform: scale(0.3);
  }
  to {
    stroke-width: 0;
    stroke-opacity: 1;
    transform: scale(2);
  }
}
