.createGroup {
  height: 100%; }
  .createGroup__header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 20px;
    margin-top: 0px; }
  .createGroup__header > h1 {
    margin-bottom: 10px; }
  .createGroup__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100%;
    margin-bottom: 20px; }
    .createGroup__body__left {
      width: 40vw;
      margin-left: 120px;
      background-color: #018BE4;
      box-shadow: -1px 1px 5px 0.5px black; }
      .createGroup__body__left__header {
        color: white;
        font-size: 70px;
        margin: 20px;
        text-align: center; }
      .createGroup__body__left__img {
        margin: 20px;
        display: flex;
        flex-wrap: wrap; }
      .createGroup__body__left__name {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 20px; }
        .createGroup__body__left__name__field {
          width: 100%;
          height: 50px;
          font-size: 40px;
          line-height: 50px; }
      .createGroup__body__left__members {
        margin-left: 10%; }
        .createGroup__body__left__members__item {
          color: white;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .createGroup__body__left__members__item__field {
            width: 300px;
            height: 30px;
            font-size: 25px;
            line-height: 30px;
            margin-bottom: 10px; }
          .createGroup__body__left__members__item__remove {
            width: 45px; }
          .createGroup__body__left__members__item__adddiv {
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center; }
            .createGroup__body__left__members__item__adddiv__add {
              width: 50px; }
        .createGroup__body__left__members__item > li {
          width: 320px; }
    .createGroup__body__right {
      margin-right: 100px;
      width: 35vw;
      background-color: #018BE4;
      box-shadow: -1px 1px 5px 0.5px black; }
      .createGroup__body__right__content {
        margin-left: 10%;
        margin-right: 10%; }
        .createGroup__body__right__content__header {
          color: white;
          font-size: 70px;
          margin: 20px;
          text-align: center; }
        .createGroup__body__right__content__address {
          width: 100%; }
        .createGroup__body__right__content__address > input {
          width: 100%;
          height: 40px;
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 10px; }
        .createGroup__body__right__content__phone > input {
          width: 100%;
          height: 40px;
          font-size: 30px;
          line-height: 40px;
          margin-bottom: 10px; }
        .createGroup__body__right__content__description {
          width: 100%; }
        .createGroup__body__right__content__description > textarea {
          width: 100%;
          height: 300px;
          resize: none;
          font-size: 30px; }
