.groupProfile {
  color: white; }
  .groupProfile__topbody {
    display: flex;
    flex-direction: row; }
    .groupProfile__topbody__left {
      margin-left: 5vw; }
      .groupProfile__topbody__left__profblock {
        width: 400px;
        background-color: #018BE4;
        box-shadow: -1px 1px 5px 0.5px black;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px; }
        .groupProfile__topbody__left__profblock__imgdiv {
          margin: 20px;
          width: 400px;
          display: flex;
          flex-direction: column; }
          .groupProfile__topbody__left__profblock__imgdiv__pic {
            width: 250px; }
          .groupProfile__topbody__left__profblock__imgdiv__stars {
            width: 100px; }
        .groupProfile__topbody__left__profblock__proftext {
          margin-left: 30px; }
          .groupProfile__topbody__left__profblock__proftext__header {
            font-size: calc(2vh + 2vw + 1vmin);
            margin-bottom: 20px; }
          .groupProfile__topbody__left__profblock__proftext__members {
            font-size: calc(1vh + 1vw + .5vmin);
            display: flex;
            flex-direction: column; }
            .groupProfile__topbody__left__profblock__proftext__members__member {
              display: flex;
              align-items: center; }
            .groupProfile__topbody__left__profblock__proftext__members__member > img {
              border-radius: 100px;
              margin-right: 20px;
              margin-bottom: 10px; }
      .groupProfile__topbody__left__details {
        background-color: #018BE4;
        box-shadow: -1px 1px 5px 0.5px black;
        padding: 10px; }
    .groupProfile__topbody__right {
      width: 100%;
      margin-right: 5vw; }
      .groupProfile__topbody__right__sliders {
        width: 100%;
        background-color: #018BE4;
        box-shadow: -1px 1px 5px 0.5px black; }
        .groupProfile__topbody__right__sliders__sliderItem {
          text-align: center;
          margin: 0; }
          .groupProfile__topbody__right__sliders__sliderItem__slider {
            width: 500px;
            height: 100px; }
  .groupProfile__bottombody {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: #0B9AF6;
    box-shadow: -1px 1px 5px 0.5px black;
    margin-bottom: 50px;
    padding-bottom: 50px; }
    .groupProfile__bottombody__botheader {
      text-align: center;
      background-color: #014C7D;
      margin-bottom: 20px;
      height: 50px;
      font-size: 40px; }
    .groupProfile__bottombody__botmain {
      display: flex;
      flex-direction: row;
      margin-right: 5vw;
      margin-left: 5vw; }
      .groupProfile__bottombody__botmain__left {
        width: 33%;
        text-align: center;
        box-shadow: -1px 1px 5px 0.5px black; }
      .groupProfile__bottombody__botmain__right {
        margin-left: 5vw;
        width: 67%;
        text-align: center; }
        .groupProfile__bottombody__botmain__right__header {
          font-size: 50px;
          display: flex;
          flex-direction: row;
          height: 80px;
          align-items: center; }
        .groupProfile__bottombody__botmain__right__header > img {
          width: 50px;
          margin-left: 15px; }
        .groupProfile__bottombody__botmain__right__header > img:hover {
          box-shadow: -3px 2px 3px black; }
        .groupProfile__bottombody__botmain__right__writeReview {
          display: flex;
          flex-direction: column; }
          .groupProfile__bottombody__botmain__right__writeReview__input {
            height: 30px;
            margin-bottom: 10px; }
          .groupProfile__bottombody__botmain__right__writeReview__review {
            height: 60px; }
        .groupProfile__bottombody__botmain__right__event {
          text-align: left;
          box-shadow: -1px 1px 5px 0.5px black;
          margin-right: 5vw;
          margin-bottom: 20px;
          padding: 10px;
          position: relative; }
          .groupProfile__bottombody__botmain__right__event__stars {
            width: 100px; }

#skillheader {
  font-size: 75px;
  text-align: center;
  margin: 10px; }

/*
===================================
    MEDIA QUERIES
===================================
*/
