.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
  color: white; }
  .splash__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh; }
    .splash__logo__svg {
      width: 20vw;
      height: 40vh;
      margin-bottom: 5vh; }
  .splash__searchbar {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 96px;
    background-color: #018BE4;
    display: flex;
    align-items: center; }
    .splash__searchbar__icondiv {
      padding: 10px; }
    .splash__searchbar__icondiv > select {
      background-color: transparent;
      height: 50px;
      line-height: 50px;
      font-size: 40px;
      color: white;
      border: 2px solid #0a9efc; }
    .splash__searchbar__input {
      background-color: transparent;
      height: 50px;
      width: 100%;
      flex-grow: 1; }
    .splash__searchbar__input > input {
      background-color: transparent;
      height: 50px;
      width: 98%;
      line-height: 50px;
      font-size: 40px;
      flex-grow: 1;
      color: white;
      border: 2px solid #0a9efc; }
    .splash__searchbar__input > input::placeholder {
      color: white; }

.mreview {
  margin-left: 5vw;
  margin-right: 5vw;
  box-shadow: -1px 1px 5px 0.5px black;
  height: 100vh;
  margin-bottom: 20px;
  color: white; }
  .mreview__header {
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px; }
  .mreview__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .mreview__body__container {
      width: 80%;
      display: flex;
      justify-content: center; }
    .mreview__body__item {
      display: flex;
      margin: 25px;
      padding: 25px;
      width: 80%;
      box-shadow: -1px 1px 3px black; }
      .mreview__body__item__imgdiv {
        display: flex;
        flex-direction: column;
        text-align: center; }
        .mreview__body__item__imgdiv__img {
          border-radius: 100px;
          width: 100px; }
      .mreview__body__item__text {
        width: 100%;
        text-align: center; }
      .mreview__body__item__text > ul {
        display: flex;
        justify-content: space-around; }

#logotemplate {
  font-size: calc(4vw + 4vh + 2vmin);
  text-align: center;
  margin-bottom: 40px; }

/*
===================================
    MEDIA QUERIES
===================================
*/
