.profile {
  color: white; }
  .profile__topbody {
    display: flex;
    flex-direction: row; }
    .profile__topbody__left {
      margin-left: 5vw; }
      .profile__topbody__left__profblock {
        width: 100%;
        min-width: 400px;
        background-color: #018BE4;
        box-shadow: -1px 1px 5px 0.5px black;
        display: flex;
        min-height: 400px;
        flex-direction: column;
        margin-bottom: 20px; }
        .profile__topbody__left__profblock__imgdiv {
          margin: 20px;
          width: 400px;
          display: flex;
          flex-direction: column; }
          .profile__topbody__left__profblock__imgdiv__imgborder {
            border-radius: 60px;
            width: 200px;
            height: 200px;
            overflow: hidden; }
            .profile__topbody__left__profblock__imgdiv__imgborder__pic {
              width: 250px; }
          .profile__topbody__left__profblock__imgdiv__stars {
            width: 100px; }
        .profile__topbody__left__profblock__proftext {
          margin-left: 30px; }
      .profile__topbody__left__details {
        background-color: #018BE4;
        box-shadow: -1px 1px 5px 0.5px black;
        padding: 10px; }
    .profile__topbody__right {
      width: 100%;
      margin-right: 5vw; }
      .profile__topbody__right__sliders {
        width: 100%;
        background-color: #018BE4;
        box-shadow: -1px 1px 5px 0.5px black;
        min-height: 390px; }
        .profile__topbody__right__sliders__sliderItem {
          text-align: center;
          margin: 10px;
          background-color: #014C7D;
          box-shadow: -2px 2px 4px black; }
          .profile__topbody__right__sliders__sliderItem__slider {
            width: 500px;
            height: 100px; }
  .profile__bottombody {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 5vw;
    margin-left: 5vw;
    background-color: #0B9AF6;
    box-shadow: -1px 1px 5px 0.5px black;
    margin-bottom: 50px;
    padding-bottom: 50px; }
    .profile__bottombody__botheader {
      text-align: center;
      background-color: #014C7D;
      margin-bottom: 20px;
      height: 50px;
      font-size: 40px; }
    .profile__bottombody__botmain {
      display: flex;
      flex-direction: row;
      margin-right: 5vw;
      margin-left: 5vw; }
      .profile__bottombody__botmain__left {
        width: 33%;
        text-align: center;
        box-shadow: -1px 1px 5px 0.5px black; }
      .profile__bottombody__botmain__right {
        margin-left: 5vw;
        width: 67%;
        text-align: center; }
        .profile__bottombody__botmain__right__event {
          text-align: left;
          box-shadow: -1px 1px 5px 0.5px black;
          margin-right: 5vw;
          margin-bottom: 20px;
          padding: 10px;
          position: relative; }
          .profile__bottombody__botmain__right__event__stars {
            width: 100px; }

#skillheader {
  font-size: 75px;
  text-align: center;
  margin: 10px; }

.simpleForm__title {
  width: 100%;
  height: 30px;
  font-size: 28px;
  line-height: 28px; }

.simpleForm__description {
  resize: none;
  width: 100%;
  height: 60px;
  font-size: 20px;
  line-height: 20px; }

.editGroupFields {
  display: flex;
  flex-direction: column;
  align-items: center; }

.editProfile {
  display: flex;
  justify-content: center; }
  .editProfile__textarea {
    resize: none;
    width: 300px;
    height: 200px;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 10px; }

/*
===================================
    MEDIA QUERIES
===================================
*/
