.uSignup {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: white; }
  .uSignup__top {
    height: 100px;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
    color: white; }
  .uSignup__left {
    width: 100%;
    margin-left: 20vw;
    background-color: #018BE4;
    box-shadow: -1px 1px 5px 0.5px black;
    padding: 20px; }
    .uSignup__left__form {
      margin-bottom: 20px;
      display: flex;
      flex-direction: row; }
    .uSignup__left__input {
      width: 80%;
      height: 30px;
      font-size: 25px;
      line-height: 30px;
      margin: 2px;
      color: black; }
    .uSignup__left__oauth {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
  .uSignup__right {
    width: 100%;
    margin-right: 20vw; }

#switch {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
